<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img
        {
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
    <center>
        <h1>INDIAN CRICKET TEAM</h1>
        <h2><a href="{% url 'virat' %}">Virat Kohli</a></h2>
        <h2><a href="{% url 'sachin' %}">Sachin Tendulkar</a></h2>
        <h2><a href="{% url 'rohit' %}">Rohit Sharma</a></h2>

        <img src="https://library.sportingnews.com/styles/crop_style_16_9_desktop/s3/2023-11/india-australia-world%20cup-final.jpg?h=654080c0&itok=PDUP0mUH" alt="">
    </center>
</body>
</html>