<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img
        {
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
    <center>
        <h2>God Of Cricket</h2>
        <img src="https://assets.gqindia.com/photos/5cdc29e1540043ec953c5cca/16:9/w_2560%2Cc_limit/sachin_0.jpg">
        <h2><a href="{% url 'india' %}">Indian Team</a></h2>
    </center>
</body>
</html>