<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img
        {
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Virat Kohliiiii..........</h1>
        <img src="https://m.economictimes.com/thumb/msid-105336643,width-1600,height-900,resizemode-4,imgsize-47320/virat-kohli.jpg">
        <h3><a href="{% url 'india' %}">Indian Team</a></h3>
    </center>
</body>
</html>